<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Selector</title>
</head>
<body>
    <form action="submit" method="post">
        <label for="imageSelector">选择图片：</label>
        <select id="imageSelector" name="imageSelector">
            {% for image in images %}
                <option value="{{ image }}">{{ image }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="显示图片">
    </form>
    <div id="imageContainer"></div>
    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
            var selectedImage = document.querySelector('#imageSelector').value;
            var imageContainer = document.getElementById('imageContainer');

            // 清除之前显示的图片
            imageContainer.innerHTML = '';

            // 创建一个新的<img>元素，并设置其src属性为所选图片的路径
            var newImage = document.createElement('img');
            newImage.src = '/static/images/' + selectedImage;

            // 将新图片添加到imageContainer中
            imageContainer.appendChild(newImage);
        });
    </script>
</body>
</html>